# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Game_2048.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Renia\RiderProjects\Game_2048\.idea\.idea.Game_2048\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
